[Desktop Entry]
Name=Colorant
GenericName=Colorant App
Comment=Colors Redefined
Categories=Graphics;Utility;
Exec=com.github.abdallah_moh.colorant
Icon=com.github.abdallah_moh.colorant
Terminal=false
Type=Application
Keywords=Color;Design;
